.adminBody{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 300px;
    width: 70%;
    margin-bottom: 300px;
}
.adminform{
    width: 50%;
    border-radius: 10px;
}